<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <strong>Thông tin bệnh viêm màng não</strong>
    </div>
    <div class="card-body">
      <p>
        <img class="card-img" src="./assets/img/viemmangnao1.jpg" />
        <strong>
          Viêm màng não là một dạng bệnh nhiễm trùng của màng não và có thể xảy ra ở bất kỳ lứa tuổi nào, đặc biệt ở trẻ
          nhỏ. Tuy nhiên, bạn cũng không nên chủ quan với bệnh viêm màng não ở người lớn, bởi nếu không được phát hiện
          và điều trị kịp thời có thể gây ra nhiều biến chứng nguy hiểm như: tê liệt chân tay, động kinh, điếc, mù, phù
          não, hôn mê thậm chí tử vong.
        </strong>
      </p>
      <h4>1. Viêm màng não là gì? Biểu hiện viêm màng não ở người lớn</h4>
      <p>Viêm màng não là một dạng nhiễm trùng ở các lớp mô quanh não bộ và tủy sống và thường do vi khuẩn HI, phế cầu,
        mô cầu hoặc do virut, ký sinh, nấm gây ra.</p>
      <p>
        Bệnh viêm màng não ở người lớn nếu không được phát hiện và điều trị kịp thời có thể gây ra nhiều biến chứng nguy
        hiểm. Nếu phát hiện một trong những biểu hiện sau đây bạn cần đến ngay bệnh viện hoặc cơ sở y tế chuyên khoa gần
        nhất để làm xét nghiệm và đưa ra hướng điều trị kịp thời:
      </p>
      <p>Một số dấu hiệu rối loạn chức năng não như: lơ mơ, lú lẫn, hôn mê cấp tính trong vài giờ đến vài ngày hoặc có
        thể kéo dài hàng tuần. Hầu như các triệu chứng đều xuất hiện không rõ ràng, gặp ở cả nhóm người cao tuổi, nhất
        là khi có bệnh kèm theo (đái đường, bệnh gan, bệnh thận), bệnh nhân giảm bạch cầu trung tính, bệnh nhân suy giảm
        miễn dịch khác như người ghép tạng, bệnh nhân HIV/AIDS</p>
      <h4>2. Viêm màng não ở người lớn do nguyên nhân nào?</h4>
      <p>Viêm màng não do vi khuẩn là một trong những dạng nguy hiểm nhất của viêm màng não. Ở Mỹ, trung bình mỗi năm có
        khoảng 3.000 – 5.000 người mắc bệnh.</p>
      <p>Viêm màng não ở người lớn do virus rất khó phát hiện vì biểu hiện rất giống với người bị cảm cúm.</p>
      <p>Nguyên nhân thứ 3 gây ra viêm màng não ở người lớn là do vi khuẩn Hemophilus influenzae týp B (HI). Vi khuẩn
        này thường gặp ở mũi và họng, lây truyền từ người này sang người khác qua hắt hơi, ho và tuyến nước bọt.</p>
      <p>Viêm màng não mô cầu thường xuất hiện quanh năm, nhưng thời điểm được chuẩn đoán có tỷ lệ người mắc cao nhất là
        Xuân - Hè.
        Viêm màng não do mô cầu thường lây qua đường hô hấp và qua tiếp xúc với bàn tay, vật dụng cá nhân bị nhiễm vi
        khuẩn của bệnh nhân. Và đặc biệt có tỷ lệ tử vong khá cao nếu không được phát hiện sớm, điều trị kịp thời.
        Nghiêm trọng hơn có thể để lại những di chứng về thần kinh.</p>
      <h4>3. Phương pháp phòng và điều trị bệnh viêm màng não ở người lớn</h4>
      <p>Rửa tay đúng cách bằng xà bông trước khi ăn và sau khi đi vệ sinh. Ăn chín, uống sôi hạn chế các loại phomai
        mềm làm từ sữa chưa tiệt trùng. Nếu phát hiện cơ thể có dấu hiệu bất thường cần đến ngay cơ sở y tế để thăm khám
        và điều trị kịp thời.</p>
      <p>Tiêm vắc xin ngừa viêm màng não ngay từ khi còn nhỏ. Luyện tập thể dục thể thao thường xuyên. Không nên uống
        rượu bia, hút thuốc lá.</p>
      <p>Không nên tiếp xúc với người bị viêm màng não, cần phải được cách ly và phải có sự giám sát của bác sĩ 24/24.
      </p>
        <h4>4. Chẩn đoán và điều trị bệnh viêm màng não ở người lớn</h4>
        <p>Chọc dịch não tủy: Là phương pháp thực hiện tại bệnh phòng để lấy dịch não tủy xét nghiệm nhằm xác định mức
          độ nghiêm trọng của tình trạng viêm, tác nhân gây bệnh và sự nhạy cảm của vi sinh vật đối với các sản phẩm
          thuốc.</p>
        <p>Xét nghiệm máu: Đây là việc cần thiết để đánh giá mức độ nhiễm trùng. Trong một số trường hợp, có thể cần
          phải cấy máu để xác định tác nhân gây bệnh</p>
        <p>Xét nghiệm vật lý – chụp hình (CT, MRI): Đây là một trong những phương pháp chuẩn đoán hiện đại được sử dụng
          để chẩn đoán các biến chứng của viêm màng não ảnh hưởng đến não</p>
        <p>Nếu bị mắc viêm màng não bệnh nhân cần phải nhập viện và điều trị bằng thuốc kháng sinh, liểu cao phổi hợp
          đường tĩnh mạch theo phác đồ (đối với viêm màng não do vi khuẩn).</p>
    </div>
  </div>
</div>