<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <strong>Thông tin bệnh HIV</strong>
    </div>
    <div class="card-body">
      <p>
        <img class="card-img" src="./assets/img/hiv.png" />
        <strong>
          HIV/AIDS là một trong những loại bệnh nguy hiểm nhất trên thế giới vì chưa có thuốc đặc trị. Dưới đây là những
          thông tin về bệnh cần phải nắm chắc để phòng tránh.
        </strong>
      </p>
      <h4>1. Bệnh HIV/AIDS là bệnh gì?</h4>
      <p>Hội chứng suy giảm miễn dịch mắc phải ở người còn gọi là bệnh liệt kháng là một bệnh của hệ miễn dịch gây ra do
        bị nhiễm virus suy giảm miễn dịch ở người (HIV). HIV có thể lây truyền qua quan hệ tình dục, qua đường máu hoặc
        truyền từ mẹ sang con trong thời kỳ mang thai, sinh đẻ hoặc cho con bú. Bệnh này hiện nay không thể chữa lành và
        không có thuốc đặc chủng ngừa.</p>
      <p>
        AIDS la giai đoạn cuối của bệnh HIV được xác định bởi sự phát triển các bệnh khác như ung thư, nhiều bệnh nhiễm
        trùng và biểu hiện khi hệ thống miễn dịch của cơ thể bị suy yếu.
      </p>
      <p>Nhiễm HIV ở người được Tổ chức Y tế thế giới WHO xem như đại dịch. Việc chủ quan với bệnh này làm tăng nguy cơ
        lây bệnh. Từ năm 1981 đến năm 2006, căn bệnh này đã giết chế 25 triệu người với khoảng 0,6% dân số thế giới mắc
        phải bệnh này. Đến năm 2009 có 1,8 triệu người mắc bệnh và giảm dần và năm 2004.</p>
      <p>Hầu hết những người nhiễm HIV-1 nếu không được chữa trị kịp thời sẽ tiến triển thành AIDS. Điều này còn phụ
        thuộc vào sự tác động của các virus, cơ thể vật chủ, yếu tố môi trường. Khi đó người bệnh thường sẽ chết do bị
        nhiễm trùng cơ hội hoặc bệnh ác tính liên quan đến sự giảm sút của hệ thống miễn dịch.</p>
      <h4>2. Nguyên nhân và triệu chứng gặp phải</h4>
      <p>Lây qua đường tình dục: Khi quan hệ tình dục không an toàn qua đường âm đạo, đường, hậu môn, đường miệng mà
        không dùng bao cao su với người bệnh đều có thể bị lây nhiễm bệnh đặc biệt là nơi có những vết rách trong các mộ
        âm đạo, hậu môn, vết thường hoặc lây bệnh qua các đường tình dục khác. Các cô gái trẻ thường dễ bị lây nhiễm
        bệnh này hơn là phụ nữ trường thành.</p>
      <p>Qua đường máu: Dùng chung kim tiêm, ống chích mà có dính máu của người bệnh HIV. Các thiết bị xăm mình, xỏ lỗ
        trên cơ thể, mực chưa được khử trùng và làm sạch có nguy cơ lây nhiễm bệnh. Quá trình truyền máu không qua sàng
        lọc virus HIV. Qua các vết thương hổ, rỉ nước hoặc tiếp xúc trực tiếp với máu cùng dịch sinh học của người bệnh
        khi bị kim tiêm đâm phải, dao cứa vào tay,…</p>
      <p>Lây truyền từ mẹ sang con là con đường thứ 3 gây bệnh. Người mẹ sẽ truyền vi rút bệnh sang con qua bánh rau
        trong thời kỳ mang thai, máu và dịch âm đạo khi chuyển dạ đẻ và qua sữa khi cho con bú. Khả năng phụ nữ bị nhiễm
        HIV lây sang con là 20-30% nhanh hơn những người khác..</p>
      <h4>3. Phương pháp điều trị và phòng tránh bệnh</h4>
      <p>Tham khảo ý kiến bác sĩ về việc điều trị HIV/AIDS.
        Không dùng chung bơm kim tiêm với những bệnh nhân khác.
        Hỗ trợ tâm lý với bác sĩ chuyên khoa hoặc tham gia một nhóm hỗ trợ cho những người bị bệnh HIV/AIDS.
        Nhận thông tin, hỗ trợ xã hội và pháp lý từ một tổ chức HIV/AIDS.
        Không tiết lộ về tình trạng nhiễm HIV của mình với những người không cần biết.
        Xem xét việc sử dụng các loại thuốc có thể làm chậm tiến triển của bệnh.</p>
      <p>Ăn uống đầy đủ.
        Nghỉ ngơi đầy đủ và tập thể dục.
        Tránh các loại thuốc hay giải trí bất hợp pháp, kể cả rượu và thuốc lá.
        Tìm hiểu cách kiểm soát stress hiệu quả.</p>
      <p>Luôn luôn sử dụng bao cao su đối với quan hệ tình dục bằng bất cứ hình thức nào.
        Không được dùng chung kim tiêm hoặc các thiết bị y tế khác.
        Thông báo với những người có thể tiếp xúc với chất dịch cơ thể của bạn như bác sĩ, nha sĩ hoặc chuyên viên làm
        vệ sinh răng miệng.
        Nếu bạn bị nhiễm HIV và đang mang thai, tham khảo ý kiến bác sĩ có kinh nghiệm về điều trị HIV.
      </p>
      <p>Sử dụng chất bôi trơn bao cao su cho quan hệ tình dục.
        Sử dụng bao cao su không bôi trơn cho quan hệ tình dục bằng miệng.
        Sử dụng bao cao su với chất bôi trơn nhiều hơn cho quan hệ tình dục qua đường hậu môn.
        Hạn chế quan hệ tình dục.
        Không dùng chung kim tiêm, ống chích, dụng cụ tiêm chích ma túy hoặc đồ chơi tình dục.
        Đảm bảo xăm mình và xỏ lỗ bằng các thiết bị vô trùng.
        Không dùng chung các vật dụng cá nhân mà có thể có dính máu, bao gồm bàn chải đánh răng, dao cạo, kim tiêm.</p>
    </div>
  </div>
</div>