<div class="card">
    <div class="card-body">
        <h3>Luật</h3>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Code</th>
                        <th>Name</th>
                        <th>Chapter</th>
                        <th>Description</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let i of data">
                        <td>{{i.vt}}</td>
                        <td>{{i.vp}}</td>
                        <td>{{i.ruleType}}</td>
                        <td>{{i.note}}</td>
                        <td>
                            <span class="badge badge-success">{{i.status == 1 ? 'Active' : 'Inactive'}}</span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div _ngcontent-c32="" _nghost-c34="" class="ng-star-inserted" style="padding: 1.25rem;"
                [hidden]="lst && lst.length==0">
                <nav _ngcontent-c34="" class="ng2-smart-pagination-nav ng-star-inserted row">
                    <ul _ngcontent-c34="" class="ng2-smart-pagination pagination col-md-6">
                        <li _ngcontent-c34="" [ngClass]="{'disabled': pager.currentPage === 1}"
                            class="ng2-smart-page-item page-item disabled"><a _ngcontent-c34="" aria-label="First"
                                class="ng2-smart-page-link page-link" (click)="searchClick(1)"><span _ngcontent-c34=""
                                    aria-hidden="true">«</span><span _ngcontent-c34="" class="sr-only">First</span></a>
                        </li>
                        <li [ngClass]="{disabled:pager.currentPage === 1}" _ngcontent-c34=""
                            class="ng2-smart-page-item page-item">
                            <a _ngcontent-c34="" aria-label="Prev" class="ng2-smart-page-link page-link page-link-prev"
                                (click)="searchClick(pager.currentPage - 1)"><span _ngcontent-c34=""
                                    aria-hidden="true">&lt;</span><span _ngcontent-c34=""
                                    class="sr-only">Prev</span></a></li>
                        <li _ngcontent-c34="" *ngFor="let page of pager.pages"
                            [ngClass]="{active:pager.currentPage === page}"
                            class="ng2-smart-page-item page-item ng-star-inserted" (click)="searchClick(page)">
                            <span _ngcontent-c34="" class="ng2-smart-page-link page-link ng-star-inserted">{{page}}<span
                                    _ngcontent-c34="" class="sr-only">(current)</span></span>
                        </li>
                        <li _ngcontent-c34="" [ngClass]="{disabled:pager.currentPage === pager.totalPages}"
                            class="ng2-smart-page-item page-item"><a _ngcontent-c34="" aria-label="Next"
                                class="ng2-smart-page-link page-link page-link-next"
                                (click)="searchClick(pager.currentPage + 1)"><span _ngcontent-c34=""
                                    aria-hidden="true">&gt;</span><span _ngcontent-c34=""
                                    class="sr-only">Next</span></a></li>
                        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" _ngcontent-c34=""
                            class="ng2-smart-page-item page-item"><a _ngcontent-c34="" aria-label="Last"
                                class="ng2-smart-page-link page-link" (click)="searchClick(pager.totalPages)"><span
                                    _ngcontent-c34="" aria-hidden="true">»</span><span _ngcontent-c34=""
                                    class="sr-only">Last</span></a>
                        </li>
                    </ul>
                    <span class="col-md-6 text-right text-italic">
                        {{total}} items
                    </span>
                </nav>
            </div>
            
        </div>
    </div>
</div>