<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <strong>Thông tin bệnh ung thư</strong>
    </div>
    <div class="card-body">
      <p>
        <img class="card-img" src="./assets/img/ungthu.jpg" />
      </p>
      <h4>1. Ung thư là gì?</h4>
      <p>Ung thư là một bệnh của các tế bào, vốn là những đơn vị cấu trúc cơ bản của cơ thể. Cơ thể chúng ta liên tục
        sản xuất ra các tế bào để giúp chúng ta phát triển, để thay thế những tế bào đã chết, hoặc hàn gắn lại những tế
        bào bị tổn thương sau một chấn thương. Các gen nào đó kiểm soát quá trình này và chính việc gây tổn hại những
        gen này dẫn đến các bệnh ung thư. Sự tổn hại này thường xảy ra trong cuộc đời con người, mặc dù có một số nhỏ
        lại thừa hưởng những gen này từ cha mẹ họ. Bình thường thì các tế bào phát triển và nhân lên theo một trình tự.
        Tuy nhiên, những gen đã bị tổn hại có thể phát triển không bình thường. Chúng có thể phát triển thành những khối
        gọi là u/bướu.</p>
      <p>Những khối u có thể lành tính (không phải ung thư) hoặc ác tính (ung thư). Những khối u lành tính không xâm lấn
        vào các cơ quan và các mô xung quanh của cơ thể.
        Trong khi u ác tính sẽ phát triển, nó có thể giới hạn trong khu vực ban đầu. Nếu những tế bào này không được xử
        lý hay điều trị, chúng có thể xâm lấn ra ngoài phạm vi ban đầu và xâm lấn vào những mô xung quanh, trở thành ung
        thư xâm lấn.
      </p>
      <p>Một số u lành tính là tiền ung thư và có thể tiến triển thành ung thư nếu không được điều trị. Nhưng đa số u
        lành tính không phát triển thành ung thư.</p>
      <h4>2. Ung thư xâm lấn như thế nào</h4>
      <p>Để một bệnh ung thư phát triển to hơn đầu đinh ghim, nó sẽ phải phát triển trong chính mạch máu của nó. Đôi khi
        các tế bào tách khỏi khối ung thư ban đầu, xuôi theo dòng bạch huyết hoặc theo dòng máu để tới những cơ quan
        khác của cơ thể. Khi những tế bào này tới vùng mới, chúng có thể tiếp tục phát triển và tạo ra một khối u tại
        vùng đó. Cái này gọi là ung thư thứ phát hay di căn.</p>
      <p>Trong quá trình sinh trưởng và phát triển, ngoại trừ tế bào não và thần kinh là bất biến (không được sinh sản
        thêm ra mà chỉ mất đi), còn lại các tế bào khác sẽ được thay thế bằng những tế bào mới nhờ quá trình gọi là "Sự
        phân bào".</p>
      <p>Sự phân bào là một chu trình tuần hoàn bao gồm các sự kiện xảy ra trong một tế bào tính từ lần phân bào này cho
        đến lần phân bào tiếp theo. Trong quá trình này, bộ máy di truyền và các thành phần của tế bào được nhân đôi để
        chia thành hai tế bào con. Ở người (sinh vật đa bào) thì phân chia tế bào là một quá trình cực kỳ quan trọng để
        một hợp tử (trứng và tinh trùng) phát triển thành một cơ thể sống hoàn chỉnh và hơn thế nữa để giúp cơ thể bổ
        sung những tế bào mới thay cho những tế bào bị chết đi (ví dụ: tế bào da của bạn chết, bị bong tróc thì có lớp
        tế bào mới thay thế). Theo ước tính mỗi ngày có khoảng 300 tỷ tế bào mới được sinh ra.</p>
      <p>Quá trình phân bào ở mọi sinh vật đều có chung một đặc điểm là sao chép và truyền đạt lại toàn bộ và chính xác
        các thông tin di truyền của chúng cho các tế bào con. Do vậy ADN của tế bào mẹ phải được nhân đôi một cách chính
        xác tuyệt đối và phải được chia đồng đều cho các tế bào con sao cho mỗi tế bào con đều nhận được ADN y hệt tế
        bào mẹ.</p>
      <p>Trong quá trình sinh sống của người, các ADN có thể bị ảnh hưởng và hư hại bởi các yếu tố tác động từ bên ngoài
        môi trường như tia cực tím (UV) từ mặt trời, khói thuốc lá, các hóa chất độc hại, phóng xạ, và các phân tử không
        ổn định do cơ thể sinh ra trong quá trình đồng hóa, thường được gọi là gốc tự do. Các tác nhân có thể ngăn chặn
        các hoạt động sống còn của tế bào như phiên mã gene, đó là bước đầu tiên trong sản xuất protein. Hậu quả của
        những tác động này là có thể tạo ra những tế bào có ADN "bất thường".</p>
      <h4>3. Nguy cơ mắc phải bệnh ung thư.</h4>
      <p>Tuổi. Ung thư có thể cần cả thập kỷ để phát triển. Đó là lý do tại sao nhiều người được chẩn đoán ung thư khi
        65 tuổi hoặc hơn. Tuy nhiên, ung thư không phải là bệnh chỉ gặp ở người già, ung thư có thể gặp ở mọi lứa tuổi.
        Những thói quen xấu như hút thuốc lá, uống nhiều rượu, phơi nắng nhiều, béo phì, quan hệ tình dục không an toàn
        có thể góp phần làm tăng nguy cơ mắc ung thư.</p>
      <p>Tiền sử gia đình. Mặc dù chỉ một số ít ung thư di truyền nhưng nếu nghi ngờ bạn nên làm kiểm tra gen để ngăn
        ngừa cho tương lai. Nhưng hãy nhớ rằng mang gen đột biến chưa chắc sẽ bị ung thư.
        Tình trạng sức khỏe. Một vài bệnh mạn tính như loét dạ dày tá tràng có thể làm tăng nguy cơ bị ung thư dạ dày.
      </p>
      <p>Môi trường sống. Những hóa chất độc hại như abestos và benzene trong nhà hoặc công xưởng có thể làm tăng yếu tố
        nguy cơ của ung thư. Thậm chí hút thuốc lá thụ động (ngửi khói thuốc lá) hoặc sống chung với người hút thuốc lá
        cũng làm tăng nguy cơ mắc bệnh.
      </p>
      <h4>4. Chẩn đoán và điều trị ung thư.</h4>
      <p>Các bác sĩ khuyến cáo ung thư phải chẩn đoán càng sớm càng tốt, như thế cơ hội chữa khỏi sẽ cao, đặc biệt là
        trong giai đoạn sớm nhất. Bác sĩ có thể dùng một hoặc nhiều phương tiện chẩn đoán ung thư: khám lâm sàng, xét
        nghiệm cận lâm sàng, chẩn đoán hình ảnh, sinh thiết. Tầm soát ung thư là cách tốt nhất để phát hiện bệnh sớm, từ
        đó việc điều trị sẽ hiệu quả hơn.</p>
      <p>Phẫu thuật.
        Hóa trị, xạ trị.
        Liệu pháp điều trị trúng đích và miễn dịch.
        Vắc xin phòng ngừa.</p>
      <p>Chìa khóa trong việc chữa khỏi ung thư là phải phát hiện bệnh trong giai đoạn sớm, khi tế bào bất thường còn
        khu trú tại chỗ. Để làm được thế, mọi người phải đi khám sức khỏe định kỳ và thực hiện các xét nghiệm tầm soát
        phù hợp theo chỉ định của bác sĩ, đặc biệt là khi trong gia đình có người bị ung thư. Hy vọng những kiến thức
        trên đây có thể giúp bạn và gia đình hiểu thêm về bệnh cũng như bớt lo lắng khi có những tình huống nghi ngờ.
      </p>
    </div>
  </div>
</div>