<div class="card" *ngIf="curGroupTCid === 0">
  <div class="row">
    <div class="col-4"></div>
    <div class="col-4" style="padding: 2%">
      <div class="card">
        <div class="card-header">
          <strong>Thông tin cá nhân</strong>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="name">Họ và tên</label>
                <input type="text" class="form-control" id="name" placeholder="Nguyễn Văn A" [(ngModel)]="name">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="ccnumber">Địa chỉ</label>
                <input type="text" class="form-control" id="ccnumber" placeholder="0000 0000 0000 0000"
                  [(ngModel)]="address">
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-4 col-form-label" for="inline-radios">Giới tính</label>
            <div class="col-md-8 col-form-label">
              <div class="form-check form-check-inline mr-1" id="inline-radios">
                <input class="form-check-input" type="radio" name="inline-radios" id="inlineRadio1" value="option1"
                  checked>
                <label class="form-check-label" for="inlineRadio1">Nam</label>
              </div>
              <div class="form-check form-check-inline mr-1">
                <input class="form-check-input" type="radio" name="inline-radios" id="inlineRadio2" value="option2">
                <label class="form-check-label" for="inlineRadio2">Nữ</label>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-4 col-form-label" for="date-input">Ngày sinh</label>
            <div class="col-md-8">
              <input class="form-control" id="date-input" type="date" name="date-input" placeholder="date"
                [(ngModel)]="dob">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4"></div>
    <div class="col-5"></div>
    <div class="row col-5">
      <div class="row align-items-center mt-3 margin-button">
        <div class="col-6 col-sm-4 col-md mb-3 mb-xl-0 text-center">
          <button type="button" class="btn btn-primary" (click)="clickBegin()"><i class="fa fa-lightbulb-o"></i>&nbsp;Kế
            tiếp</button>
          <button type="button" class="btn btn-dark"><i class="fa fa-lightbulb-o"></i>&nbsp;Hủy</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card" *ngIf="curGroupTCid > 0 && !showResult">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8" style="padding: 2%">
      <div class="card">
        <div class="card-header">
          <strong>Thông tin triệu chứng</strong>
        </div>
        <div class="card-body">
          <div class="form-group row text-center">
            <label class="col-md-12 col-form-label" for="inline-radios">Bạn có bị triệu chứng
              <strong>{{curGroupTCname}}</strong>
              ko?</label>
            <div class="col-md-12 col-form-label">
              <div class="form-check form-check-inline mr-1" id="inline-radios">
                <input class="form-check-input" type="radio" name="inline-radios" id="inlineRadio1" value="option1"
                  (click)="clickYes(curGroupTCname)" [(ngModel)]="yes">
                <label class="form-check-label" for="inlineRadio1">Có</label>
              </div>
              <div class="form-check form-check-inline mr-1">
                <input class="form-check-input" type="radio" name="inline-radios" id="inlineRadio2" value="option2"
                  (click)="clickNo()" [(ngModel)]="no">
                <label class="form-check-label" for="inlineRadio2">Không</label>
              </div>
            </div>
            <div *ngIf="showTC" class="col-12" style="padding: 2%">
              <ng-select [items]="lstTC" bindLabel="name" bindValue="id" [multiple]="true"
                placeholder="Chọn triệu chứng" [(ngModel)]="curselectedTC">
              </ng-select>
            </div>
          </div>
        </div>
      </div>
      <div class="col-2"></div>
      <div class="col-5"></div>
      <div class="row align-items-center mt-3 margin-button">
        <div class="col-6 col-sm-4 col-md mb-3 mb-xl-0 text-center">
          <div *ngIf="showFinish">
            <button type="button" class="btn btn-primary" (click)="clickFinish()"><i class=" fa
                  fa-lightbulb-o"></i>&nbsp;Chuẩn đoán</button>
            <button type="button" class="btn btn-dark" (click)="clickBack()"><i class="fa fa-lightbulb-o"></i>&nbsp;Quay
              lại</button>
          </div>
          <div *ngIf="!showFinish">
            <button type="button" class="btn btn-primary" (click)="clickNext()"><i class=" fa
                  fa-lightbulb-o"></i>&nbsp;Kế tiếp</button>
            <button type="button" class="btn btn-dark" (click)="clickBack()"><i class="fa fa-lightbulb-o"></i>&nbsp;Quay
              lại</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card padding-card" *ngIf="showResult">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Kết quả chuẩn đoán
        </div>
        <div class="card-body">
          <!--<table class="table table-bordered table-striped table-sm">
              <thead>
                <tr>
                  <th>Loại bệnh</th>
                  <th>Tên bệnh</th>
                  <th>Mức độ</th>
                  <th>Tình trạng</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Tim</td>
                  <td>Loạn nhịp tim</td>
                  <td>1</td>
                  <td>
                    <span class="badge badge-secondary">Nhẹ</span>
                  </td>
                </tr>
                <tr>
                  <td>Tim</td>
                  <td>Nhồi máu cơ tim</td>
                  <td>5</td>
                  <td>
                    <span class="badge badge-warning">Trung bình</span>
                  </td>
                </tr>
                <tr>
                  <td>Phổi</td>
                  <td>Ung thư phổi</td>
                  <td>8</td>
                  <td>
                    <span class="badge badge-danger">Khẩn cấp</span>
                  </td>
                </tr>
                <tr>
                  <td>Da</td>
                  <td>Ung thư da</td>
                  <td>5</td>
                  <td>
                    <span class="badge badge-warning">Trung bình</span>
                  </td>
                </tr>
                <tr>
                  <td>Não</td>
                  <td>Viêm màng não</td>
                  <td>8</td>
                  <td>
                    <span class="badge badge-danger">Khẩn cấp</span>
                  </td>
                </tr>
              </tbody>
            </table>
            <nav style="padding-left: 35%">
              <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">Prev</a></li>
                <li class="page-item active">
                  <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
              </ul>
            </nav>-->
          <p class="title-result">- Họ và tên: <strong>{{name}}</strong></p>
          <p class="title-result">- Địa chỉ: <strong>{{address}}</strong></p>
          <p class="title-result">- Giới tính: <strong>Nam</strong></p>
          <p class="title-result">- Ngày sinh: <strong>{{dob}}</strong></p>
          <hr>
          <p class="title-result">*Các triệu chứng mắc phải:
            <strong>
              <div *ngFor="let i of symptom">- {{i}}</div>
            </strong>
          </p>
          <p class="title-result">*Chẩn đoán bệnh:</p>
          <div *ngIf="!isDisease"> <strong>- Không bị bệnh.</strong></div>
          <div *ngFor="let i of disease">
            <p class="body-result">- {{i.name}}</p>
            <p class="title-result">*Độ chính xác:</p>
            <div *ngIf="i.ruleType === 1">
              <strong>- 100%</strong>
            </div>
            <div *ngIf="i.ruleType === 2">
              <strong>- 70%</strong>
            </div>
            <div *ngIf="i.ruleType === 3">
              <strong>- 30%</strong>
            </div>
            <p class="title-result">*Lời khuyên:</p>
            <strong>- Nên: {{i.suggestion.shoudDo}}</strong>
            <p></p>
            <strong>- Không nên: {{i.suggestion.shoudNotDo}}</strong>
          </div>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
</div>